@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="status-box">
        <p id="status"></p>
    </div>
    <div class="main-box">
        <img src="~/assets/tutoro.jpg" alt="Tutoro">
        <p id="message"></p>
    </div>
    <div class="button-box">
        <button type="button" onclick="Feed()">Feed</button>
        <button type="button">Play</button>
        <button type="button">Work</button>
        <button type="button">Sleep</button>
    </div>
</div>
